<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.byd.gzq"></context:component-scan>
    <bean id="city" class="com.byd.gzq.bean.City">
        <property name="name" value="Shenzhen"/>
        <property name="countryCode" value="CHN"/>
        <property name="district" value="Asia"/>
        <property name="id" value="2"/>
        <property name="population" value="4000000"/>
    </bean>
    <bean id="person" class="com.byd.gzq.bean.Person">
        <property name="name" value="Nobody"/>
    </bean>
</beans>