<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.byd.gzq"/>
<!--    <bean id="person" class="com.byd.gzq.bean.Person">-->
<!--        <property name="name" value="Nobody"/>-->
<!--    </bean>-->

    <context:property-placeholder location="classpath:database.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="url" value="${mysql.url}"/>
        <property name="driverClassName" value="${mysql.driver}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/**/*.xml"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!--    <bean id="personFactory" class="com.byd.gzq.utils.PersonFactory">-->
<!--        <constructor-arg>-->
<!--            <value>guozhiqiang</value>-->
<!--        </constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="person" factory-bean="personFactory" factory-method="getPerson">-->

<!--    </bean>-->

<!--    <bean id="personFactoryBean" class="com.byd.gzq.utils.PersonFactoryBean">-->
<!--&lt;!&ndash;        <constructor-arg>&ndash;&gt;-->
<!--&lt;!&ndash;            <value>&ndash;&gt;-->
<!--&lt;!&ndash;                <null></null>&ndash;&gt;-->
<!--&lt;!&ndash;            </value>&ndash;&gt;-->
<!--&lt;!&ndash;        </constructor-arg>&ndash;&gt;-->
<!--    </bean>-->

    <bean id="person" class="com.byd.gzq.bean.Person" scope="prototype">
<!--        <replaced-method name="replaced" replacer="replacer"/>-->
    </bean>

    <bean id="replacer" class="com.byd.gzq.service.DiyLogger">

    </bean>

<!--    <bean id="objectFactoryBean" class="org.springframework.beans.factory.config.ObjectFactoryCreatingFactoryBean">-->
<!--        <property name="targetBeanName">-->
<!--            <idref bean="person"/>-->
<!--        </property>-->

<!--    </bean>-->
    <bean id="personC" class="com.byd.gzq.bean.PersonC">
<!--        <lookup-method bean="person" name="getPerson"/>-->
<!--        <property name="person" ref="person"/>-->
<!--        <property name="objectFactory" ref="objectFactoryBean"/>-->
    </bean>
    <bean id="withDate" class="com.byd.gzq.bean.WithDate">
        <property name="date" value="2039--08--29"/>
    </bean>

    <bean id="customEditor" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <ref bean="dataPropertyEditorRegistrar"/>
            </list>
        </property>
    </bean>

    <bean id="dataPropertyEditorRegistrar" class="com.byd.gzq.bean.DatePropertyEditorRegistry">
        <property name="pe" ref="datePropertyEditor"/>
    </bean>

    <bean id="datePropertyEditor" class="com.byd.gzq.bean.DatePropertyEditor">

    </bean>
    <aop:aspectj-autoproxy/>
</beans>